.card{
    border-radius: 25px 25px 25px 25px;
    // border: 1px solid;
    padding: 2.5px;
    // box-shadow: 5px 10px 18px #888888;
}
.card img{
    border-radius: 25px 25px 0 0;
}
.card h3{
margin-top: 5px;
text-align: center;
font-weight: 400px;
}
.card  p {
    font-size: 1.3rem;
    color:rgb(0, 0, 0);
    padding: 0.5em;
    line-height: 1.4;
    line-height: 1.0;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
  }
  .card .icons {
      text-align: center;
      justify-content: space-evenly;
      text-decoration: none;
      margin:0 1rem;
     color: red;
    }