<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Pet Food Website Design Tutorial</title>
</head>
<body>
<!-- home section starts  -->
<section class="home" id="home">
    <div class="content">
        <h3> <span>hi</span> welcome to my_tutors </h3>
        <div class="search">
       <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a tutor . . ."
        %>
        <%= submit_tag "Search", class: "btn " %>
       <% end %>
    </div>
    </div>
<%= image_tag "bottom_wave.png", class: "wave" %>
</section>
<!-- home section ends -->
<!-- about section starts  -->
<section class="about" id="about">
<h1 class="heading">about us</h1>

<div class="row">
    <div class="content">
        <h3>start your journey to a better life with our practical courses</h3>
        <p>Lessons are much more than a video call. They all happen in our tailor-made, interactive lesson space. So tutors can bring tricky concepts to life with interactive exercises, draw diagrams as they go, plus annotate homework and practice questions together. It can even make dreaded subjects - dare we say it - fun.</p>
        <a href="#"><button>learn more</button></a>
    </div>
    <div class="image">
        <img src="https://media.istockphoto.com/photos/businesswomen-working-on-line-together-picture-id909695714?b=1&k=20&m=909695714&s=170667a&w=0&h=ItlNB3GUvH6V0J_rOM2RNC_7NnfW1IHc8t8XhRfX5m4=" alt="">
    </div>
</div>
</section>
<!-- about section ends -->
<!-- teacher section starts  -->
<section id="teacher" class="teacher">
<h1 class="heading">our teacher</h1>
<h3 class="title">meet professional trainers</h3>
<div class="card-container">
    <div class="card">
        <img src="https://images.generated.photos/KIF9jaN_cHneEvyMplfVNZFcvEyaEPP3BbjJRbWKv-o/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/Nzc3NDM2LmpwZw.jpg" alt="">
        <h3>Ana S.</h3>
        <p>Law (Bachelors) - Cambridge University</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>
    <div class="card">
        <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/90305980_239715910399706_2193308204564217856_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=IzRECa72wfEAX8Opsmw&_nc_ht=scontent.fmru7-1.fna&oh=e5611553918c7f2b3558a3f50899485d&oe=61BCEEA2" alt="">
        <h3>Jivesh</h3>
        <p>French with literature (Bachelors) - Nottingham University</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>
    <div class="card">
        <img src="https://images.generated.photos/A6PReTJ4FWrykRKLzQ5giwR1Ajq2dlx167aiBPwYiAQ/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/ODM5MjE2LmpwZw.jpg" alt="">
        <h3>Letty G.</h3>
        <p>English (Bachelors) - Birmingham University</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>
    <div class="card">
        <img src="https://images.generated.photos/x5ovJYZmdY1ywRhD6i82XZ4zVoR-r3BCupxsCGLZm_w/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/NjM0ODYzLmpwZw.jpg" alt="">
        <h3>Elizabeth F.</h3>
        <p>Philosophy (Bachelors) - Exeter University</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>
</div>
</section>
<!-- teacher section ends -->
<!-- course section starts  -->
<section id="course" class="course">
<h1 class="heading">our courses</h1>
<h3 class="title">upgrade your skills with newest courses</h3>
<div class="box-container">
    <div class="box">
        <i class="fab fa-html5"></i>
        <h3>html5</h3>
        <p>HTML5 Take this course and learn about the inner workings of an HTML form! Learn how to create your own form and integrate HTML5 validations.</p>
    </div>
    <div class="box">
        <i class="fab fa-css3-alt"></i>
        <h3>css3</h3>
        <p>Learn how to add styles websites with CSS and how to use selectors to apply styles to specific elements.</p>
    </div>
    <div class="box">
        <i class="fab fa-js-square"></i>
        <h3>javascript</h3>
        <p>Learn about what the JavaScript course has in store!</p>
    </div>
    <div class="box">
        <i class="fas fa-code"></i>
        <h3>web development</h3>
        <p>Go from no-code to an in-demand junior web developer, at a fraction of the cost of a bootcamp.</p>
    </div>
    <div class="box">
        <i class="fas fa-bullhorn"></i>
        <h3>seo marketing</h3>
        <p>Learn how to do Digital Marketing, SEO, PPC, Social Media, Content Marketing, Video Advertising, Email Marketing, Blogs.</p>
    </div>
    <div class="box">
        <i class="fas fa-paint-brush"></i>
        <h3>graphic design</h3>
        <p>Learn Photoshop, Illustrator, and InDesign by creating posters, logos, and more.</p>
    </div>
</div>
</section>
<!-- course section ends -->
<!-- review section starts  -->
<section id="review" class="review">
<h1 class="heading">students review</h1>
<h3 class="title">what our students says about us</h3>
<div class="box-container">
    <div class="box">
        <img src="https://images.generated.photos/CnsItX_iZQUqKMvtBgi3l0i_H6CrsiTZXI4WWgtQUSA/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/ODcxMjk1LmpwZw.jpg" alt="">
        <h3>Sara.M</h3>
        <p>"I like MyTutors because I get one-to-one support which i don't get in a classroom of 30 students."</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="box">
        <img src="https://images.generated.photos/nEXDGpi-uUoG-X6QjELbSnRWj4-_8IXa8uTGDpEKB8M/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/MjY1MjI3LmpwZw.jpg" alt="">
        <h3>Archie.T</h3>
        <p>"When i'm having tutoring, i get to be alone, in my own space and i can ask any question I want without anyone interupting me."</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="box">
        <img src="https://images.generated.photos/GRpR-ZExBv4uuM5V5VSAK2fWADtm6TQGVCd113E2pEc/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/NTc2ODczLmpwZw.jpg" alt="">
        <h3>Tom Riddle</h3>
        <p>"I really enjoy learning with my tutors every week. They build my confidence up - if I get something wrong, they tell me where I went wrong and how to do it better."</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
    </div>
</div>
</section>



</body>
</html>
