.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0px 50px;
    color: #A51C30;
    width: 100vw;
  }
  .footer a{
    display: inline-block;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: grey;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
  }
