.user-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
    .participant {
    border-radius: 10px;
    overflow: hidden;
    video {
      border-radius: 16px;
      width: 100%;
    }
  }
  
  .remote-media-div {
  }
  
  #userVideo {
    width: 100%;
    border-radius: 16px;
  }
  
  // .teacher .card-container{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   padding:2rem 0;